.title {
  text-shadow: white 1px 0px 125px;

  @media only screen and (max-width: 600px) {
    text-shadow: white 1px 0px 75px;
  }
}
.container {
  grid-template-columns: repeat(30, minmax(0, 1fr));
}

.member {
  grid-column: span 6 / span 6;

  &:nth-child(1n) {
    @media only screen and (max-width: 1100px) {
      grid-column: span 10 / span 10;
    }
  }
  &:nth-child(2n) {
    @media only screen and (max-width: 1100px) {
      grid-column: span 10 / span 10;
    }
  }
  &:nth-child(3n) {
    @media only screen and (max-width: 1100px) {
      grid-column: span 10 / span 10;
    }
  }
  &:nth-child(4n) {
    @media only screen and (max-width: 1100px) {
      grid-column: span 15 / span 15;
    }
  }
  &:nth-child(5n) {
    @media only screen and (max-width: 1100px) {
      grid-column: span 15 / span 15;
    }
  }
}

.gradient_hover {
  // background: linear-gradient(180deg, #9313f8, #fe06c7);
  background: rgb(255, 255, 255, .5);
  background-size: 110%;
  opacity: 0;
  transition: opacity 1s;
}
.social_icons {
  opacity: 0;
  transition: opacity 1s;
}
.avatar:hover {
  .gradient_hover {
    opacity: 1;
  }
  .social_icons {
    opacity: 1;
  }
}